.coastal {
    background-color: #17a2b8; /* Teal */
    color: #fff;
}

.countryside {
    background-color: #28a745; /* Green */
    color: #fff;
}

.flat-countryside {
    background-color: #ffc107; /* Yellow */
    color: #000;
}

.flat-terrain {
    background-color: #6c757d; /* Gray */
    color: #fff;
}

.hilly {
    background-color: #007bff; /* Blue */
    color: #fff;
}

.historic-city {
    background-color: #6f42c1; /* Purple */
    color: #fff;
}

.lake-views {
    background-color: #20c997; /* Mint */
    color: #fff;
}

.mountainous-roads {
    background-color: #fd7e14; /* Orange */
    color: #fff;
}

.mountainous-terrain {
    background-color: #dc3545; /* Red */
    color: #fff;
}

.rolling-hills {
    background-color: #6fba1c; /* Light Green */
    color: #fff;
}

.scenic-roads {
    background-color: #843b62; /* Maroon */
    color: #fff;
}
