@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html {
    background: unset;
    overflow: unset;
  }

  .toolbar,
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  .workspace-container {
    overflow: unset;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }

  .resume-page {
    page-break-after: always;
    page-break-before: always;
    margin: 0;
    border: none;
    box-shadow: none;
    zoom: 1!important;
  }
}
